body {
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
  background: #000;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
