:root {
  --app-scale: 1;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #000;
  overflow: hidden;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}
